.conheca{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("../images/backgrounds/bg-conheca.png");
    background-size: 100% 100%;
    min-height: 700px;
    background-repeat: no-repeat;
    margin-top: 50px;

    @media screen and (max-width: $bp-LG){
        padding: 70px 0 100px 0;
    }

    @media screen and (max-width: $bp-MD){
        padding: 100px 0;
        background-size: 170% 100%;
        background-position: center center;
    }

    .star-1{
        position: absolute;
        left: 55px;
        top: 0px;
        width: 25px;
        height: 25px;
        background-image: url(../images/ico/star-1.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation-duration: 6s;
        z-index: 6;
    
        @media screen and (max-width: $bp-MD){
            width: 30px;
            height: 30px;
            left: 30px;
            top: 270px;
        }
    }

    .star-2{
        position: absolute;
        left: -95px;
        top: 240px;
        width: 75px;
        height: 75px;
        background-image: url(../images/ico/star-9.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation-duration: 6s;
        z-index: 6;
    
        @media screen and (max-width: $bp-MD){
            width: 20px;
            height: 20px;
            left: unset;
            right: 20px;
            top: 160px;
        }
    }

    .star-3{
        position: absolute;
        right: 195px;
        top: 160px;
        width: 30px;
        height: 30px;
        background-image: url(../images/ico/star-5.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation-duration: 7s;
        z-index: 6;
    
        @media screen and (max-width: $bp-MD){
            width: 30px;
            height: 30px;
            right: 30px;
            top: -20px;
        }
    }

    .star-4{
        position: absolute;
        right: -230px;
        bottom: -30px;
        width: 130px;
        height: 130px;
        background-image: url(../images/ico/star-10.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation-duration: 6s;
        z-index: 4;
    
        @media screen and (max-width: 1300px){
            right: -150px;
        }

        @media screen and (max-width: $bp-MD){
            width: 80px;
            height: 80px;
            right: -20px;
            bottom: -90px;
        }
    }

    &__title{
        position: relative;
        font-family: 'exception';
        color: $color-dark;
        font-size: 40px;
        margin-bottom: 80px;

        @media screen and (max-width: $bp-MD){
            font-size: 30px;
            margin-bottom: 60px;
            line-height: 30px !important;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -22px;
            left: 50.4%;
            transform: translateX(-50%);
            width: 100%;
            background-image: url("../images/ico/line-3.png");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            height: 33px;
            
            @media screen and (max-width: $bp-MD) {
                height: 26px;
                bottom: -18px;
                line-height: 1.2 !important;
            }
        }
        
        span{
            display: block;
            text-align: center;
            font-weight: bold;
        }

        span.font-2{
            display: block;
            font-family: 'hoghfish';
            font-size: 72px;
            text-align: center;
            font-weight: normal;
            margin-top: -10px;

            @media screen and (max-width: $bp-MD){
                font-size: 57px;
                margin-top: 15px;
                line-height: 65px !important;
            }
        }
    }

    &__selo{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 54%;
            margin-top: -20px;

            @media screen and (max-width: $bp-LG){
                width: 30%;
                margin-bottom: 20px;
            }

            @media screen and (max-width: $bp-MD){
                width: 35%;
                margin-bottom: 30px;
                margin-top: 10px;
            }

            @media screen and (max-width: $bp-SM){
                width: 50%;
                margin-bottom: 15px;
            }
        }
    }

    &__caption{

        @media screen and (max-width: $bp-LG){
            text-align: center;
        }

        &-title{
            font-family: 'hoghfish';
            color: #00b2b0;
            font-size: 37px;

            @media screen and (max-width: $bp-MD){
                font-size: 30px;
            }
        }

        &-desc{
            color: $color-dark;
            font-family: 'ubuntu-r';
            max-width: 640px;
            font-size: 20px;

            @media screen and (max-width: $bp-LG){
                margin: 0 auto;
            }

            @media screen and (max-width: $bp-MD){
                font-size: 18px;
            }
        }
    }
}