.composicao {
    position: relative;
    padding-top: 60px;

    @media screen and (max-width: $bp-MD){
        margin-top: 0px;
    }

    .container{
        position: relative;
    }

    .folha-1{
        position: absolute;
        left: -60px;
        width: 185px;
        height: 185px;
        background-image: url(../images/ico/folha-1.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation-duration: 11s;
        z-index: 6;
    
        @media screen and (max-width: $bp-MD){
            width: 110px;
            height: 110px;
            left: -30px;
        }
    }

    .folha-2{
        position: absolute;
        right: -60px;
        width: 125px;
        height: 125px;
        background-image: url(../images/ico/folha-2.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation-duration: 11s;
        z-index: 6;
    
        @media screen and (max-width: $bp-MD){
            width: 80px;
            height: 80px;
            right: -30px;
        }
    }

    .folha-3{
        position: absolute;
        left: -60px;
        width: 95px;
        height: 95px;
        background-image: url(../images/ico/folha-3.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation-duration: 11s;
        z-index: 6;
    
        @media screen and (max-width: $bp-MD){
            width: 80px;
            height: 80px;
            left: -20px;
        }
    }


    &__title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: 'hoghfish';
        color: $color-dark;
        font-size: 84px;
        text-align: center;
        margin-bottom: 60px;

        span {
            display: block;
        }

        @media screen and (max-width: $bp-MD) {
            font-size: 45px;
            margin-bottom: 50px;
            line-height: 50px !important;
        }

        .sm {
            font-size: 56px;
            font-family: 'exception';
            color: #00b2b0;
            font-weight: bold;
            margin-right: 310px;
            margin-top: -6px;

            @media screen and (max-width: $bp-MD) {
                font-size: 32px;
                margin-right: 165px;
                margin-top: -2px;
                line-height: 40px !important;
            }
        }

        .lg {
            font-family: 'snaphand';
            font-size: 135px;
            word-spacing: -40px;
            margin-top: -65px;

            @media screen and (max-width: $bp-MD) {
                font-size: 64px;
                word-spacing: -10px;
                margin-top: -28px;
                line-height: 66px !important;
            }

            @media screen and (max-width: 330px) {
                font-size: 57px;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;

        @media screen and (max-width: $bp-MD){
            margin-bottom: 40px;
        }

        &-img {
            width: 220px;
            height: 220px;
            object-fit: contain;
            margin-bottom: 10px;

            @media screen and (max-width: $bp-MD){
                margin-bottom: 15px;
                width: 190px;
                height: 190px;
            }
        }

        &-desc {
            font-size: 19px;
            font-family: 'hoghfish';
            text-align: center;
            max-width: 310px;
            margin: 0 auto;
            letter-spacing: 1.2;

            @media screen and (max-width: $bp-MD){
               font-size: 18px;
            }

            &.i-1 {
                color: #5398ec;
            }

            &.i-2 {
                color: #d26e4e;
            }

            &.i-3 {
                color: #edb044;
                width: 150%;
            }

            &.i-4 {
                color: #a0bf52;
            }
        }

    }
}
