.faq {
    padding-top: 20px;
    padding-bottom: 60px;

    .container{
        position: relative;
    }

    .star-1{
        position: absolute;
        left: -70px;
        top: 50px;
        width: 85px;
        height: 85px;
        background-image: url(../images/ico/star-10.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation-duration: 4s;
        z-index: 6;
    
        @media screen and (max-width: $bp-MD){
            width: 50px;
            height: 50px;
            left: -10px;
            top: 40px;
        }
    }

    .star-2{
        position: absolute;
        right: 40px;
        top: 240px;
        width: 40px;
        height: 40px;
        background-image: url(../images/ico/star-2.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation-duration: 6s;
        z-index: 6;
    
        @media screen and (max-width: $bp-MD){
           display: none;
        }
    }

    .star-3{
        position: absolute;
        right: -80px;
        top: 540px;
        width: 80px;
        height: 80px;
        background-image: url(../images/ico/star-2.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation-duration: 6s;
        z-index: 6;
    
        @media screen and (max-width: $bp-MD){
           display: none;
        }
    }

    .star-4{
        position: absolute;
        left: -60px;
        top: 600px;
        width: 40px;
        height: 40px;
        background-image: url(../images/ico/star-5.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation-duration: 6s;
        z-index: 6;
    
        @media screen and (max-width: $bp-MD){
           display: none;
        }
    }

    .star-5{
        position: absolute;
        left: -90px;
        bottom: -50px;
        width: 200px;
        height: 200px;
        background-image: url(../images/ico/star-13.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation-duration: 6s;
        z-index: 1;
    
        @media screen and (max-width: $bp-MD){
           width: 150px;
           height: 150px;
           left: -50px;
           bottom: -80px;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 70px;

        @media screen and (max-width: $bp-MD){
            margin-bottom: 50px;
        }
    }

    &__title {
        position: relative;
        font-family: 'lemonism';
        color: $color-dark;
        font-size: 143px;
        line-height: 1.2;

        @media screen and (max-width: $bp-MD){
            font-size: 100px;
        }

        .star {
            display: inline-block;
            width: 18px;
            height: 18px;
            background-image: url("../images/ico/star-8.png");
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translateY(-40px);

            @media screen and (max-width: $bp-MD) {
                transform: translateY(-20px);
                width: 15px;
            }
        }
    }

    &__subtitle {
        position: relative;
        font-family: 'exception';
        color: #ee6f4c;
        font-size: 41px;
        text-transform: lowercase;
        font-weight: bold;

        @media screen and (max-width: $bp-MD) {
            font-size: 30px;
            line-height: 1;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            background-image: url("../images/ico/line-2.png");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            height: 8.3px;

            @media screen and (max-width: $bp-MD) {
                height: 7px;
                bottom: -15px;
            }
            @media screen and (max-width: 330px) {
                height: 4px;
            }
        }
    }

    &__item {
        position: relative;
        z-index: 3;

        [aria-expanded="true"]{
           &:after{
            transform: rotate(-180deg) !important;
           }
        }

        &-header {
            position: relative;
            font-family: 'lemonism';
            color: #fff;
            font-size: 32px;
            padding: 5px 10px 10px 30px;
            text-align: left;
            width: 100%;
            background-color: #00b2b0;
            border: none;
            font-weight: normal;
            border-bottom: 2px solid #10d8d5;
            @include transition();

            @media screen and (max-width: $bp-MD){
                font-size: 27px;
                line-height: 1.2;
                padding: 16px 54px 16px 30px;
            }

            &:after {
                content: '';
                position: absolute;
                width: 17px;
                height: 17px;
                right: 20px;
                top: 22px;
                background-image: url("../images/ico/scroll-top.png");
                background-position: center center;
                background-size: contain;
                @include transition();

                @media screen and (max-width: $bp-MD){
                    top: 34px;
                }
            }

            &.br {
                border-radius: 15px 15px 0 0;
            }
            &:hover {
                background-color: #0e9e9c;
            }
        }

        &-body {
            background-color: #c4dee088;
            padding: 25px 30px;
            color: #2c3147;
            font-size: 16px;
            font-family: 'ubuntu-r';

            &.br{
                border-radius: 0 0 15px 15px;
            }

            @media screen and (max-width: $bp-MD){
                padding: 20px 20px 20px 30px;
            }
        }
    }
}
