.main-footer{
    position: relative;
    position: relative;
    background-image: url("../images/backgrounds/bg-footer.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 5;
    padding: 60px 0 40px 0;
    
    .container{
        position: relative;
    }

    &__scrolldown {
        position: absolute;
        left: 50%;
        top: -10px;
        transform: translateX(-50%);
        width: 165px;
        height: 44px;
        background: none;
        border: none;
        background-image: url('../images/ico/scroll-down.png');
        background-size: 100% 100%;


        @media screen and (max-width: $bp-MD) {
            width: 120px;
            height: 30px;
        }
    }

    &__brand1{
        width: 95%;
        margin: 0 auto;
        object-fit: contain;
        margin-top: -20px;

        @media screen and (max-width: $bp-LG){
            width: 200px;
            margin-top: -10px;
        }
    }

    &__brand2{
        width: 80%;
        margin: 0 auto;
        object-fit: contain;

        @media screen and (max-width: $bp-LG){
            width: 280px;
            margin: 50px 0;
        }

        @supports (-webkit-touch-callout: none) {
            /* CSS specific to iOS devices */ 
            @media screen and (max-width: 400px){
               margin: 0 !important;
               max-height: 290px;
            }
          }
    }

    &__newsletter{
        max-width: 280px;

        @media screen and (max-width: $bp-LG){
            text-align: center;
            max-width: none;

            input{
                width: 70%;
                margin: 0 auto;
            }
        }

        &-title{
            padding-left: 12px;
            font-family: 'exception';
            font-size: 22px;
            font-weight: bold;

            span{
                display: block;
                font-family: 'hoghfish';
                font-size: 35px;
                margin-top: -4px;

                @media screen and (max-width: 400px){
                    margin-top: 6px;
                }
            }
        }
    }

    &__copyright{
        border-top: 1px solid #9ecfd3;
        margin: 0 40px;
        font-family: 'poppins-b';
        color: #99d4d8;
        text-align: center;
        font-size: 13px;
        margin-top: 35px;
        padding-top: 20px;
    }

    &__socials {
        position: absolute;
        right: 0;
        display: block;
        top: -80px;

        @media screen and (max-width: $bp-MD){
            top: -74px;
            right: 20px;
        }

        &-item {
            position: relative;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-color: #5398ec;
            display: inline-block;
            @include transition();

            @media screen and (max-width: $bp-MD) {
                width: 34px;
                height: 34px;
            }

            &:first-child {
                margin-right: 5px;

                @media screen and (max-width: $bp-LG) {
                    margin-right: 3px;
                }
            }

            &:after {
                content: '';
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 15px;
                height: 15px;
                background-image: url('../images/ico/facebook.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                @media screen and (max-width: $bp-LG) {
                    width: 11px;
                    height: 11px;
                }
            }

            &.instagram {
                background-color: #f0426b;
                margin-right: -3px;
                &:after {
                    background-image: url('../images/ico/instagram.png');
                }
            }

            &:hover{
                @include scale(1.1);
            }
        }
    }

}