.onde-encontrar{
    position: relative;
    background-image: url("../images/backgrounds/bg-onde-encontrar.png");
    background-size: 100% 100%;
    min-height: 300px;
    background-repeat: no-repeat;
    margin-top: 50px;
    padding: 120px 0 0px;

    .container{
        position: relative;
    }

    .star-1{
        position: absolute;
        left: 70px;
        top: 50px;
        width: 85px;
        height: 85px;
        background-image: url(../images/ico/star-10.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation-duration: 6s;
        z-index: 6;
    
        @media screen and (max-width: $bp-MD){
            width: 30px;
            height: 30px;
            left: 30px;
            top: 10px;
        }
    }

    .star-2{
        position: absolute;
        right: 140px;
        top: 31px;
        width: 35px;
        height: 35px;
        background-image: url(../images/ico/star-10.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation-duration: 4s;
        z-index: 6;
    
        @media screen and (max-width: $bp-MD){
            width: 20px;
            height: 20px;
            left: 60px;
            top: 270px;
        }
    }

    .star-3{
        position: absolute;
        right: -40px;
        bottom: 131px;
        width: 85px;
        height: 85px;
        background-image: url(../images/ico/star-1.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation-duration: 4s;
        z-index: 6;
    
        @media screen and (max-width: $bp-MD){
            width: 60px;
            height: 60px;
            right: 40px;
            bottom: 80px;
        }
    }

    @media screen and (max-width: $bp-MD){
        background-size: 130% 100%;
        background-position: center center;
        padding-bottom: 0px;
        padding-top: 90px;
        margin-top: -10px;
    }

    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'exception';
        color: $color-dark;
        font-size: 107px;

        @media screen and (max-width: $bp-MD){
            font-size: 60px;
        }

        span{
            display: block;
        }
        
        .lg{
            font-family: 'hoghfish';
            font-size: 81px;
            margin-top: -41px;

            @media screen and (max-width: $bp-MD){
                font-size: 50px;
                margin-top: -40px;
            }

            @media screen and (max-width: 400px){
                margin-top: -7px;

                @supports (-webkit-touch-callout: none) {
                        margin-top: 45px;
                  }
            }
        }
    }

    &__main{
        display: flex;
        flex-direction: column;
        text-align: center;

        .brand{
            width: 300px;
            margin-bottom: 40px;
        }

        .pack{
            width: 700px;
            margin-top: -110px;
            margin-left: -420px;

            @media screen and (max-width: 1200px){
                width: 600px;
                margin-top: -70px;
                margin-left: -300px;

                @media screen and (max-width: $bp-MD){
                    width: 330px;
                    margin: 30px auto 0 auto;
                }
            }
        }
    }
}