.btn-transparent {
    background: none !important;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    &:active,
    &:focus {
        border: none;
        outline: none;
    }
}

.btn-secondary {
    position: relative;
    font-size: 20px;
    font-family: 'poppins-sb';
    padding: 10px 30px;
    border-radius: 30px;
    background-color: $color-secondary;
    color: #fff;
    text-transform: uppercase;
    border: none;
    @include transition();

    @media screen and (max-width: $bp-MD) {
        font-size: 17px;
    }
    
    &:after {
        content: '';
        width: 94%;
        height: 83%;
        background-image: url('../images/ico/dots.png');
        background-size: 100% 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 24px;
    }
    &:hover {
        @include scale(1.05);
        background-color: darken($color-secondary, 10);
    }
}

.btn-sm {
    font-size: 12px;
    padding: 7px 25px;
}
button:focus {
    outline: none;
}
