.form-control{
    background-color: #ffffff;
    height: 35px;
    border-radius: 0;
    border: none;
    border-radius: 30px;
    color: $color-primary;
    font-family: 'ubuntu-r';
    letter-spacing: 1.6;
    font-weight: bold;
    font-size: 11px;
    @include transition();

    &::placeholder{
        color: #9acecf;
        letter-spacing: 0.5px;
    }

    &:focus, &:active{
        outline: none;
        border: none;
        box-shadow: none;
        background-color: rgb(255, 255, 255);
    }
}

textarea.form-control{
    height: auto;
}